<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  {{!--
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"> --}}
  <title>CreateWeb</title>
</head>

<body>

 {{>navbar}}
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div class="col-md-6 col-12 order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
            <h1>WE WILL HELP YOU TO</h1>
            <h1>GROW YOUR BUSINESS</h1>
            <P>We Are The Team Of <span class="font-weight-bold">Professional Developer </span></P>
            <a href="https://wa.link/x2pr9r" style="text-decoration: none;"><button class="btn-style btn btn-primary">Read More</button></a>
          </div>

          <div class="col-md-6 col-12 order-md-0 order-0">
            <figure>
              <img src="images/home.svg" class="w-100" alt="image">
            </figure>
          </div>

        </div>
      </div>

    </div>

  </div>

{{>about}}

{{>service}}

{{>maps}}

{{>contact}}
 
 {{>footer}}
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>