 <div class="container-fluid mt-5" id="aboutId">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About Us</h1>
        <p class="text-center sub-heading">Grow Your Business With Us</p>
        <div class="row">
          <div class="col-md-6 col-12 order-md-0 order-0">
            <figure>
              <img src="images/home2.svg" class="w-100" alt="image">
            </figure>
          </div>


          <div class="col-md-6 col-12 order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
            <h1>WE ARE THE PROFESSIONAL DEVELOPERS</h1>
            
            <P>Welcome To <span class="font-weight-bold">CreateWeb.</span>  Your Number One Source For All Things. We're Dedicated To Giving You The Very Best Of Work. With A Focus On [Three Characteristics i.e. Dependability Customer Service And Uniqueness]</P>
            <button class="btn-style btn btn-primary">Read More</button>
          </div>



        </div>
      </div>

    </div>

  </div>